@import "node_modules/@wordpress/base-styles/colors";
@import "node_modules/@wordpress/base-styles/variables";
@import "node_modules/@wordpress/base-styles/mixins";
@import "node_modules/@wordpress/base-styles/breakpoints";
// @import 'node_modules/@wordpress/base-styles/animations';
@import "node_modules/@wordpress/base-styles/z-index";
@import "node_modules/@wordpress/base-styles/default-custom-properties";
@import "~@wordpress/components/src/button/style.scss";

body {
  font-family: "arial";
  margin-top: 0;
}

.panel-actions {
  display: flex;

  .mover {
    display: flex;
    flex-direction: column;
    margin-right: 0.2em;

    button {
      width: 20px;
    }
  }
}

.item {
  will-change: transform, height, opacity;
  border: 2px solid #efefef;
  padding: 1.25em;
  position: relative;
  max-width: 400px;

  label {
    display: block;
    margin-right: 10px;
    margin-bottom: 7px;
  }

  input {
    padding: 10px;
    width: 200px;
  }
}

.top-bar {
  position: fixed;
  background-color: #fff;
  width: 500px;
  height: 75px;
  z-index: 10000;
  padding: 20px;

  p{
    line-height: 24px;
  }

  .add {
    margin-bottom: 1em;
  }
}

.panel-actions {
  position: absolute;
  right: 0;
  top: 0;
  margin: 5px;

  .actions {
    display: flex;
  }
}
